<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fechadura Eletrônica</title>
</head>

<body>
	<header>
		<h1>Fechadura</h1>
		<h1>Eletrônica</h1>
	</header>
	{{{body}}}

</body>
</html>
